@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Lalezar&display=swap');

body.bodycadastro {
    display: flex;
    flex-direction: column;

}

.cadastre-se h3{
    padding-top: 25px;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    justify-content: center;
    justify-items: center;
}

.cadastre-se h3 a{
    text-decoration: none;
    color: white;
    text-align: left;
}

.cadastre-se h3 :hover{
   color: #5ecbe0;

}

main.containerCadastro{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
    background: white;
    max-width: 350px;
    min-height: 40vh;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

main.containerCadastro h2 {
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative
}

main.social-media {
    display: flex;
    align-content: center;
}

main.social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 1rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .alternative {
    margin-top: 2rem;
    margin-bottom: -20px;
}

main .alternative span {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-family: 'Barlow', sans-serif;
}

main form .cadastroform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 4px ;
    color: #000000dc;
    font-weight: bold;
    padding-top: 10px;
}

main form label {
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
    font-family: 'Barlow', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;

}

main form input {
    background: white;
    width: 100%;
    margin-top: 1rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid #153DA5 ;
    border-radius: 8px;
    margin-top: 9px;
}

main form input[type="button"] {
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: linear-gradient(to right, #051c55 ,#103db1);
    color: white;
    font-size: 1.1rem;
    text-align: center;
    justify-content:center;
    margin-top: 30px;
}

section.images {
    display: flex;
    align-items: flex-end;
}