@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Lalezar&display=swap');

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #70D8EB ;
    padding-top: 48px;
    
}

.conteudoPrincipal {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;

}

.conteudoPrincipalEscrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudoPrincipalEscritoTitulo {
    font-weight: 400;
    font-size: 64px;
    font-family: 'Lalezar', cursive;

}

.conteudoPrincipalEscritoSubTitulo {
    font-family: 'Barlow', sans-serif;
    font-weight: 200; 
    
}

.conteudoPrincipalEscritoBotao {
    background:#285ee9;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-align: center;
}



.conteudoPrincipalImagem {
    height: 400px;
    padding-top: 40px;

}

.conteudoPrincipalMiniaturaEscrito {
    display: flex;
    flex-wrap: wrap;   
    color: white;
    justify-content: left;
    padding-top: 50px;
    padding-bottom: 28px;
}

.blackboxcol{
    display: flex;
    width: 100%;
    margin-right: 10px;
    margin-left: 5px;
    justify-content: space-around;
    
}

.conteudoPrincipalMiniaturaTitulo {
    font-weight: 300;
    font-size: 64px;
    font-family: 'Lalezar', cursive;
    text-align: left;
    padding-left: 48px;
    gap: 32px;

}

.miniatura {
  margin-right: 15px;
  margin-bottom: 15px;

}

.blackbox {
	width: 100%;
	height: 100%;
	opacity: 0;
	padding-top: 90px;
	transition: 1s;
    width: 300px;
    height: 200px;
    background-color: #051c55;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.blackbox:hover {
	opacity: 0.9;
	transition: 1s;
}

.blackbox-text {
	text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.blackbox-text h1{
    text-align: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.back-link {
	color: #073f83;
	text-decoration: none;
}


.conteudoSecundario {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Lalezar', cursive;
}

.conteudoSecundarioTitulo {
    border-top: 0.4px solid #70D8EB;
    padding-top: 48px;
    font-family: 'Lalezar', cursive;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 16px;
    color: aliceblue;
}

.conteudoSecundarioParagrafo {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: antiquewhite;

}

.conteudoSecundarioSecundarioTitulo {
    border-top: 0.4px solid #70D8EB;
    padding-top: 48px;
    font-family: 'Lalezar', cursive;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
    color: aliceblue;
}

.conteudoSecundarioSecundarioParagrafo {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: antiquewhite;
    align-items: center;
    padding-right: 40px;

}