@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Lalezar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #153DA5 ;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #48CAE4;
    border-radius: 8px;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #48CAE4 16.62%, #153DA5 85.61%);
    overflow-x: hidden;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
    margin: 0;

   
}

html, body {
    min-height: 100%;
}








@media (max-width: 1000px) {


    .miniatura {

        max-width: 100%;
        background-size: auto 100%;
    
    }

    .blackbox {
        opacity: 0.9;
        width: 300px;
        height: 200px;
        padding-right: 5px;
        padding-left: 5px;
    }

}



